<div class="row">
    <div class="col-md-4 pe-4">
        <app-recipe-list [allRecipes]="allRecipes" (parent_onNewRecipeSelect)="setSelectedRecipe($event)"></app-recipe-list>
    </div>
    <div *ngIf="currentRecipe != undefined" class="col-md-8">
      <app-recipe-detail  [detailsCurrentRecipe]="currentRecipe"></app-recipe-detail>
    </div>
    <div *ngIf="currentRecipe === undefined" class="col-md-8 d-flex justify-content-center align-items-center">
      <div class="h-50 w-50 border border-1 shadow rounded">
        <h1 class="text-center pt-3 px-1">No Recipe Selected</h1>
        <div class="d-flex justify-content-center align-items-center h-50" >
          <p class="text-center px-1"> Click on a recipe to get started</p>
        </div>
      </div>
    </div>
</div>
