
  <a href="#" class="text-decoration-none py-2" (click)="selectNewRecipe()">
    <div class="row">
      <div
        class="col-8 pt-1 border border-1 border-dark border-end-0 shadow rounded-start"
      >
        <h4 class="text-black">{{ oneRecipe.name }}</h4>
        <p class="text-black-50">{{ oneRecipe.description }}</p>
      </div>
      <div
        class="col-4 overflow-hidden p-0 shadow rounded-end border border-dark border- border-start-0"
        style="height: 100px"
      >
        <img
          src="{{ oneRecipe.imageURL }}"
          alt="{{ oneRecipe.name }}"
          style="width: 100%; height: 100%; object-fit: cover"
          class="img-fluid"
        />
      </div>
    </div>
  </a>
